/* Reset default styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Hide scrollbar */
::-webkit-scrollbar {
  display: none;
}

/* Body and HTML styles */
body,
html {
  height: 100%;
  width: 100%;
  background-color: #282c34;
}

/* Text selection styles */
/* ::selection {
  background: transparent;
} */

/* Root container styles */
#root {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
}

/* Header styles */
header {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  background-color: rgba(38, 32, 32, 0.7);
  backdrop-filter: blur(4px);
  z-index: 10;
  border-bottom: 1px solid white;
}

/* Footer styles */
footer {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  border: 2px solid white;
}

/* Main container styles */
main {
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
}

/* General field styles */
.field {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Logo styles */
.logo {
  width: 190px;
  height: fit-content;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

/* Logo text styles */
.logo a h1 {
  font-size: 3rem;
  background: linear-gradient(45deg, #ff8a00, #e52e71);
  background-clip: text;
  color: transparent;
}

/* Navigation styles */
nav {
  width: 100%;
  border-radius: 30px;
  padding: 30px;
}

/* Unordered list styles */
ul {
  list-style: none;
  display: flex;
  justify-content: end;
  align-items: center;
  text-align: center;
  gap: 20px;
}

/* List item styles */
li {
  font-size: 1.5rem;
  cursor: pointer;
}

/* List item anchor styles */
li a {
  text-decoration: none;
  color: #fff;
}

/* Hover state for list item anchor */
li a:hover {
  color: #d44d5c;
}

/* Active navigation item styles */
.activeNav {
  color: red;
}

/* Homepage container styles */
.home {
  width: 100vw;
  height: 550px;
  position: relative;
  margin-top: -80px;
}

/* Search input styles */
.home input {
  position: absolute;
  top: 100px;
  padding: 10px;
  font-size: 1rem;
  left: 50%;
  border-radius: 20px;
  outline: none;
  border: none;
  transform: translate(-50%, -50%);
}

/* Search button styles */
.home form button {
  position: absolute;
  width: 50px;
  height: 35px;
  top: 100px;
  padding: 10px;
  font-size: 1rem;
  left: 55%;
  border-radius: 50%;
  outline: none;
  border: none;
  transform: translate(-50%, -50%);
}

/* Background image styles */
.pic {
  width: 100%;
  height: 500px;
  background-position: top;
  background-size: cover;
  object-fit: contain;
  filter: blur(1px);
  filter: brightness(.5);
}

/* Homepage text styles */
.hometext {
  color: white;
  position: absolute;
  border-radius: 5px;
  top: 200px;
  right: 30px;
  font-size: 3rem;
  background-color: rgba(121, 31, 31, 0.726);
  padding: 5px;
}

/* Sliding news container styles */
.slidingNews {
  display: flex;
  background-color: rgba(255, 0, 0, 0.349);
  border: 2px solid red;
}

/* Sliding news item styles */
.slidingNews div {
  width: 120px;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

/* Marquee text styles */
.home marquee {
  padding: 5px;
  font-style: normal;
  font-size: 2rem;
  color: white;
}

/* News post field styles */
.PostField {
  width: 100%;
  min-height: 100vh;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 20px;
  padding-bottom: 50px;
}

/* Card styles */
.card {
  max-width: 100%;
  border: 2px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  background-color: #606c76;
  padding-bottom: 30px;
  position: relative;
}

/* Hover state for card */
.card:hover {
  transform: scale(1.05);
}

/* Image in card styles */
.card img {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
}

/* Source name in card styles */
.card h5 {
  padding: 10px;
  margin: 0;
  background-color: #333;
  color: #fff;
}

/* Title in card styles */
.card h3 {
  padding: 10px;
  margin: 0;
}

/* Anchor styles in card */
.card a {
  color: black;
  text-decoration: none;
}

/* Visited state for anchor in card */
.card a:visited {
  color: rgb(120, 39, 39);
}

/* Paragraph styles in card */
.card p {
  padding: 10px;
  margin: 0;
}

/* Description paragraph styles in card */
.card p.description {
  margin-top: auto;
}

/* Button in card styles */
.card button {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  bottom: 0;
  transition: background-color 0.3s ease-in-out;
}

/* Hover state for button in card */
.card button:hover {
  background-color: #2980b9;
}

/* Next button styles */
.nextBtn {
  width: 200px;
  font-size: 1.5rem;
  padding: 10px;
  background-color: #d44d5c;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
}

/* End of news message styles */
.newsEnd {
  color: white;
}

/* No data message container styles */
.noData {
  width: 100%;
  height: 70vh;
  background-color: #404040;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  background: linear-gradient(to bottom, transparent 0%, #404040 20%, #404040 100%);
}

/* No data message heading styles */
.noData h1 {
  font-size: 3rem;
  color: #fff;
  text-align: center;
  margin-bottom: 20px;
}

/* Underline styles in no data message */
.noData u {
  color: #e52e71;
}

/* Paragraph styles in no data message */
.noData p {
  font-size: 1.2rem;
  color: #ccc;
  text-align: center;
  margin-bottom: 30px;
}

/* Image container styles in no data message */
.noDataimg {
  width: 300px;
}

/* Image styles in no data message */
.noData img {
  max-width: 100%;
  mix-blend-mode: color-burn;
}

/* Loader styles */
.LoaderDiv {
  width: 100vw;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Loader animation styles */
.loader {
  width: 50px;
  aspect-ratio: 1;
  color: #f03355;
  background: conic-gradient(currentColor 0 270deg, #0000 0);
  border-radius: 50%;
  animation: l14-0 4s infinite linear;
}

/* Loader circle styles */
.loader::before {
  content: "";
  display: block;
  height: 50%;
  width: 50%;
  border-top-left-radius: 100px;
  background: currentColor;
  animation: l14 0.5s infinite alternate;
}

/* Keyframes for loader animation */
@keyframes l14-0 {
  0%, 24.99% {transform: rotate(0deg)}
  25%, 49.99% {transform: rotate(90deg)}
  50%, 74.99% {transform: rotate(180deg)}
  75%, 100% {transform: rotate(270deg)}
}

/* Alternate keyframes for loader animation */
@keyframes l14 {
  100% {transform: translate(-10px, -10px)}
}

/* Responsive styles for medium screens */
@media (max-width: 768px) {
  .PostField {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }

  .card img {
    max-height: 150px;
  }
}

/* Responsive styles for small screens */
@media (max-width: 576px) {
  .PostField {
    grid-template-columns: 1fr;
  }

  .card img {
    max-height: 200px;
  }
}
